body{
   
}
*{
    margin:0;
}
nav div img{
    height:75px;
    width:75px;
    margin-left:10px;
}
/* navbar styling */
#navbar{
    display:flex;
    align-items: center;
}
#navbar::before{
    content: "";
    position:absolute;
    background-color: black;
    height:100px;
    width:100%;
    z-index: -1;
    opacity:0.4 ;
    

}
/* ul of navbar styling */
nav ul{
    display: flex;
   
}
/* li ul of navbar styling */
nav ul li{
    list-style: none;
    margin:10px;
    background-color: azure;
    border-radius: 10px;
   
}
nav ul li a{
    padding:10px;
    /* color:white; */
}
nav ul li a:hover{
    color:black;
    background-color: white;
    border-radius: 10px;

}
#home{
 
    color: rgb(240, 177, 177);;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:200px;
    font-family: 'Delicious Handrawn', cursive;
font-family: 'Fasthand', cursive;
    

}
#home::before{
    content: "";
    position:absolute;
    background:url('image/home food.jpg');
    height:300px;
    width:100%;
    z-index: -2;
    top:1px;
}
.h-primary{
         font-size:3.8rem;
}
.btn{
    background-color: brown;
    color:white;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid white ;
}
/* services styling */
.services{
    display:flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.services h1{
    margin-top: 10px;
    font-size:3.5rem;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Fasthand', cursive;
    color:rgb(190, 56, 56);
}
section div div img{
    height:100px;
    width:100px;
}
.service-box{
    border:2px solid rgb(205, 64, 64);
    height:135px;
    width: 70%;
    display: flex;
    background-color: rgb(156, 95, 95);
    justify-content: space-evenly;
    align-items: center;
    transition-property: height width;
    transition-duration:1s ;
}
div h2{
    text-align: center;
    background-color: rgb(224, 108, 108);
}
.service-box-1{
    margin:2px;
    border:1px solid rgb(226, 65, 65);
}
.service-box-2{
    margin:2px;
    border:1px solid rgb(222, 66, 66);
}
.service-box-3{
    margin:2px;
    border:1px solid rgb(243, 78, 78);
}
.service-box:hover{
     height:150px;
     width:75%;
     box-shadow: 10px 10px 20px rgb(216, 90, 90);
}